/*----------------------------------------*/
/* V A R I A B L E S */
/*----------------------------------------*/
:root {
    --ff-heading: "Russo One", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #23234B;
    --color-second: #06cfce;
    --color-third: #d3167c;
    --color-fourth: #ececed;
    --txt-color: #fff;
}


/*----------------------------------------*/
/* G E N E R A L */
/*----------------------------------------*/

body {
    background-color: var(--color-first);
    font-family: var(-ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    section.scroll {
        scrollbar-width: none;
        overflow-y: scroll;
        height: 620px;
    }

    main {
        background: url(../images/bg-main.png)no-repeat center;
        height: 840px;
        overflow: hidden;
        position: relative;
        width: 400px;

        header {
            margin: 2rem 1rem; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 3;

            img.logo-top{
                margin-left: 2rem;

            }

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--color-first);
                    stroke-width: 4;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            h1 {
                font-family: var(--ff-heading);
                font-size: 30px;
                color: var(--color-first);
                padding-left: 1.2rem;
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }

            a.btn-back:is(:link, :visited) {
                transition: transform 0.4s ease-in;
            }

            a.btn.back:is(:hover) {
                transform: translateX(-4px);
            }

        }

    }

    nav.nav {
        background-color: #0009;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        flex-direction: column;
        flex-wrap: wrap;
        height: 855px;
        padding-top: 10rem;
        position: absolute;
        top: 0;
        transform: translateY(-60%) scale(0);
        transition: transform 0.4s ease-in-out;
        z-index: 2;
        width: 400px;

        img.title-menu {
            margin-block: 2rem;
        }
    }

    nav.nav.active {
        opacity: 1;
        transform: translateY(0%);
    }

    menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        a:is(:link, :visited) {
            background: url(../images/btn.png) no-repeat center;
            color: var(--txt-color);
            font-size: 20px;
            font-weight: 400;
            height: 60px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.6rem;
            padding-left: 20px;
            margin-top: 1.2rem;
            transition: all 0.4s ease-in;
            text-decoration: none;
            width: 300px;
        }

        a:is(:hover) {
            background: url(../images/btn-hover.png) no-repeat center;
            transform: scale(1.02) translateY(-4px);
        }

        a:is(:active) {
            background: url(../images/btn-active.png) no-repeat center;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ff-heading);

        a:is(:link, :visited) {
            background: url(../images/btn.png) no-repeat center;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            transition: all 0.4s ease-in;
            width: 300px;
            color: var(--txt-color);
            font-size: 2rem;

        }

        a:is(:hover) {
            background: url(../images/btn-hover.png) no-repeat center;
            transform: scale(1.02) translateY(-5px);
        }

        a:is(:active) {
            background: url(../images/btn-active.png) no-repeat center;
        }

    }
}



/*----------------------------------------*/
/* 01- W E L C O M E */
/*----------------------------------------*/

main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 3.5rem;
        margin-top: 2rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            margin-right: -65px;

            img {
                height: 306px;
                width: 306px
            }

        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4);
            }

        }

        div.owl-dots {
            position: relative;
            top: -46px;

            button {
                transition: transform 0.2s ease-in;

            }

            button:is(:hover) {
                transform: scale(1.1);
            }

            button.owl-dot {
                span {
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }

            button.owl-dot.active,
            button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }

        }

    }



}


/*------------------------------*/
/*--------CATALOGUE----------------------*/
main.catalogue {
    section.scroll {
        scrollbar-width: none;
        overflow: scroll;
        height: 640px;
        margin: 1rem;

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            input {
                border: none;
                background: url(../images/ico-filter.png) no-repeat 250px center, url(../images/bg-input-filter.png) no-repeat center;
                color: var(--color-first);
                font-weight: 400;
                font-size: 20px;
                height: 60px;
                outline: none;
                text-indent: 16px;
                width: 298px;

                outline: none;
                width: 298px;

                &::placeholder {
                    opacity: 0.7;
                    color: var(--color-first);


                }
            }
        }
    }

    
    .letter {
        font-family: "Patrick Hand", cursive;
        font-style: normal;
        font-size: 24px;
        color: #9b9b62;
    }

    article {
        h2 {
            display: flex;
            justify-content: center;
            font-family: var(--ff-heading);
            font-size: 20px;
            align-items: center;
            color: var(--color-first);
            gap: 0.6rem;
            margin-bottom: 1rem;
        }

        a:is(:link, :visited) {
            img {
                height: 48px;
                width: 71px;
            }
        }
    }

    div.owl-carousel {
        margin-top: 2rem;
        div.owl-item {
            display: flex;
            justify-content: center;

            img.slide {
                object-fit: contain;
                height: 110px;
                width: 110px;
                margin-bottom: 0.5rem;
            }
        }

        div.owl-nav {
            position: relative;
            top: -150px;
            display: flex;
            justify-content: space-between;
            margin-top: -20px;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
        }

    }
}

/*------------------------------*/
/*--------VIEW -ARTIST ----------------------*/
main.view-artist{
    header{
        margin-bottom: 0.5rem;
        h1{
            font-family: var(--ff-heading);
            font-size: 26px;
            color: var(--color-first);
        }

    }
    section {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        article {
            display: flex;
            flex-direction: column;
            gap: 0.9rem;
            width: 296px;
            div.row {
                display: flex;
                align-items: center;                
                justify-content: space-between;
                div.column {
                    display: flex;
                    flex-direction: column;
                
            }
        }
    }
}}


/*------------------------------*/
/*--------LOGIN----------------------*/

main.login,
main.register {
    header .btn-back {
        visibility: hidden;
        pointer-events: none;
    }

    section form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 0rem;

        div.form-group {
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 0.6rem;
            position: relative;

            label {
                display: flex;
                color: var(--color-first);
                font-family: var(--ff-heading);
                align-items: center;
                gap: 0.6rem;
                font-size: 20px;
            }
            p.letter1 {
                font-family: "Patrick Hand", cursive;
                font-style: normal;
                font-size: 20px;
                color: black;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="number"]
              {
                border: none;
                background: url(../images/input.png) no-repeat;
                height: 60px;
                outline: none;
                width: 300px;
                font-size: 18px;
                font-weight: 300;
                color: var(--color-first);
                text-indent: 1rem;

                &::placeholder {
                    opacity: 0.6;
                    color: var(--color-first);
                }
            }

            img.ico-eye {
                cursor: pointer;
                position: absolute;
                top: 60px;
                right: 35px;
                width: 25px;

            }

            button {
                cursor: pointer;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: var(--ff-heading);
                background: url(../images/btn.png) no-repeat center;
                height: 60px;
                width: 300px;
                font-size: 2rem;
                margin-top: 3rem;
                transition: all 0.4s ease-in;
                color: var(--txt-color);

                &:active {
                    background:url(../images/btn-hover.png) no-repeat center;
                    transform: scale(1.02) translateY(-5px);
                }

                &:active {
                    background:url(../images/btn-active.png) no-repeat center;
                }
            }

            .mask {
                mask-image: url(../images/avatar.svg);
                mask-repeat: no-repeat;
                mask-position: center top;
                object-fit: contain;
                align-self: center;
                height: 200px;
                width: 200px;
            }
        }
    }
}


.welcome-menu {
    margin-bottom: 15%;
}

.menu-items-img {
    margin-left: 40px;
    margin-top: 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-form {
    display: flex;
    flex-direction: column;
}

.btn-more {
    margin: 0.5rem 0;
}

.btn-login {
    margin-left: 4.5rem;
}

.forgot-your-password{
    height: 23px;
    margin-top: 35px;
    justify-content: flex-start;
    cursor: pointer;
    text-decoration: underline;
    margin-right: 130px;
    
}

.letter {
    font-family: "Patrick Hand", cursive;
    font-style: normal;
    font-size: 24px;
    color: #9b9b62;
}

#photo {
    display: none;
}

main.dashboard,
main.catalogue,
main.my-profile,
main.users,
main.artist,
main.songs { 
    nav.nav {
        align-items: center;
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 98%;

        figure.avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .border {
                position: absolute;
                left: 18px;
                top: -0px;
            }
            .mask {
                mask-image: url(../images/avatar.png);
                mask-repeat: no-repeat;
                mask-position: center top;
                object-fit: cover;
                align-self: center;
                position: relative;
                height: 280px;
                width: 280px;
            }

        }
        h2 {
            color: var(--color-fourth);
            font-family: var(--ff-heading);
            font-size: 24px;
        }
        h4 {
            background: url(../images/bg-role.png) no-repeat center;
            font-size: 18px;
            border-radius: 20px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 150px;
        }
        section.scroll {
            scrollbar-width: none;
            overflow-y: scroll;
            height: 640px;
        }

        .icons {
            width: 40px;
            margin-left: 40px;
        }
        .profile-photo
        #qsearch{
            border: none;
                background: url(../images/input.png) no-repeat;
                height: 60px;
                outline: none;
                width: 300px;
                font-size: 18px;
                font-weight: 300;
                color: var(--color-first);
                text-indent: 1rem;

                &::placeholder {
                    opacity: 0.6;
                    color: var(--color-first);
                }
                section.scroll {
                    scrollbar-width: none;
                    overflow-y: scroll;
                    height: 620px;
                }

        }
    }
}


/* - - - - - - - - - - - - - - - - */
/* D A S H B O A R D */
/* - - - - - - - - - - - - - - - - */
main.dashboard {
    header {
        .btn-back {
            visibility: hidden;
            pointer-events: none;
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        article.module {
            background: url(../images/camp-text.svg) no-repeat center;
            height: 120px;
            width: 300px;
            display: flex;
            align-items: center;
            position: relative;
            transition:background-color 0.4s ease-in;
            flex-wrap: wrap;
            border-radius: 20px;
            aside {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2 {
                    color: var(--color-first);
                    font-family: var(--ff-heading);
                    font-size: 20px;
                }
                span {
                    color: var(--color-first);                    
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            aside:first-of-type {
                padding-inline: 1rem;
            }
            a:is(:link, :visited) {
                background: url(../images/btn-view.png) no-repeat center;
                color: var(--color-fourth);
                height: 30px;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 10px;
                right: 0.1px;
                font-size: 16px;
                font-weight: 300;
                justify-content: center;
                gap: 0.6rem;
                text-decoration: none;
                transition: all 0.4s ease-in;
                width: 120px;
                img {
                    width: 70px;
                }
            }
            a:is(:hover) {
                background: url(../images/btn-view-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }
            a:is(:active) {
                background: url(../images/btn-view-active.png) no-repeat center;
            }
        }
        article.module:hover {
            background: url(../images/bg-module-hover.png) no-repeat center;
        }
    }
}



/* - - - - - - - - - - - - - - - - */
/* M Y   P R O F I L E */
/* - - - - - - - - - - - - - - - - */
main.my-profile {
    header {
        .btn-back {
            visibility: visible;
            pointer-events: all;
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 0.6rem;
        figure.avatar {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .border {
                position: absolute;
                left: 18px;
                top: -0px;
            }
            .mask {
                mask-image: url(../images/avatar.svg);
                mask-repeat: no-repeat;
                mask-position: center top;
                object-fit: cover;
                align-self: center;
                position: relative;
                height: 280px;
                width: 280px;
            }

        }
        h2 {
            color: var(--color-first);
            font-weight: bold;
            font-family: var(--ff-heading);
            font-size: 24px;
        }
        span {
            color: var(--color-first);            
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;
            padding-left: 0.6rem;
            font-size: 16px;
            font-weight: 400;
            width: 170px;
            }
        span.data-description {
            background: url(../images/bg-description.png) no-repeat center;
            height: 100;
            width: 300;

        }
        span.role {
            color: var(--color-first);            
            height: 40px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;
            padding-left: 0.4rem;
            font-size: 16px;
            font-weight: 400;
            width: 170px;
        }
        span.email {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-first);
            font-weight: bold;
            font-size: 18px;
            height: 20px;
            
        }
        span.role {
            background: url(../images/bg-administrador.svg) no-repeat center;
            color: var(--color-first);
        }
        div.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.6rem;
            span {
                background: url(../images/bg-data-odd.png) no-repeat center;
            }
            span:nth-child(-n+2),
            span:nth-child(n+5) {
                background: url(../images/bg-data-even.png) no-repeat center;
            }
        }
    }
}


/* - - - - - - - - - - - - - - - - */
/* Artist - Song*/
/* - - - - - - - - - - - - - - - - */
main.artist,
main.users,
main.songs {
    header {
        .btn-back {
            visibility: visible;
            pointer-events: all;
        }
    }
    section {
        scrollbar-width: none;
        overflow-y: scroll;
        height: auto;
        margin-bottom: 1rem;
        div.area {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
        a.add:is(:link, :visited) {
            background: url(../images/bg-btn-add.png) no-repeat center;
            color: var(--color-fourth);
            height: 60px;
            display: flex;
            margin-bottom: 1rem;
            align-items: center;
            font-size: 16px;
            font-weight: 300;
            justify-content: center;
            gap: 1rem;
            text-decoration: none;
            transition: all 0.4s ease-in;
            width: 150px;
            img {
                width: 70px;
            }
        }
        a.add:is(:hover) {
            background: url(../images/btn-add-hover.png) no-repeat center;
            transform: scale(1.02) translateY(-4px);
        }
        a.add:is(:active) {
            background: url(../images/btn-add-active.png) no-repeat center;
        }

        .song {
            width: auto !important;
        }

        article.record {
            background: url(../images/card.svg) no-repeat center;
            display: flex;
            align-items: center;
            position: relative;
            gap: 0.6rem;
            height: 100px;
            width: 340px;
            border-radius: 25px;

            

            figure.avatar {
                position: relative;
                padding-left: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                .border {
                    position: absolute;
                    left: 20px;
                    top: -1px;
                }
                .mask {
                    mask-image: url(../images/shape-photo-small.svg);
                    mask-repeat: no-repeat;
                    mask-position: center top;
                    object-fit: cover;
                    align-self: center;
                    position: relative;
                    height: 80px;
                    width: 80px;
                }
    
            }
            
            .song {
                align-items: center;
            }
            aside {
                display: flex;
                flex-direction: column;
                width: 60%;

                div.actions {
                   display: flex;
                   justify-content: end;
                   align-items: center;
                    a:is(:link, :visited) {
                        transition: all 0.2s ease-in;
                        opacity: 0.7;
                        padding: 4px;
                        text-decoration: none;
                        transform: scale(0.9);
                    }
                    a:is(:hover) {
                        opacity: 1;
                        transform: scale(1.05);
                    }

                    
                }
                
                div.song {
                    justify-content: center;
                }

                .unfollow {
                    width: 80px;
                }

                .play {
                    width: 60px;
                }
            }
            
            
        }
       
    }
    div.paginate {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        span {
            color: var(--color-five);
            font-size: 16px;
            font-weight: 400;
        }
        a:is(:link, :visited) {
            transition: all 0.2s ease-in;
            text-decoration: none;
        }
        a.btn-prev:is(:hover) {
            transform: scale(1.1) translateX(-4px);
        }
        a.btn-next:is(:hover) {
            transform: scale(1.1) translateX(4px);
        }
    }
}


main.edit-artist,
main.add-artist {
    section{
        display: flex;
        flex-direction: column;
        align-items: center;

        .photo-content {
            width: 30%;
        }

        div.column {
            display: flex;
            flex-direction: column;
        }

        label {
            margin: 0.5rem;
        }

        input {
            border: none;
            background: url(../images/input.png) no-repeat;
            height: 60px;
            outline: none;
            width: 300px;
            font-family: "Patrick hand";
            font-size: 18px;
            font-weight: 300;
            color: var(--color-first);
            text-indent: 1rem;

            &::placeholder {
                opacity: 0.6;
                color: var(--color-first);
            }
        }
        
        button {
            cursor: pointer;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--ff-heading);
            background: url(../images/btn-save.svg) no-repeat center;
            height: 60px;
            width: 300px;
            font-size: 2rem;
            margin-top: 3rem;
            transition: all 0.4s ease-in;
            color: var(--txt-color);
        }
        
    }
}


.view{
    margin-top: 1rem;
    margin-right: 23px;
}

.buttons-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 100%;
}

.main-font {
    font-family: "Patrick hand";
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.second-font {
    font-family: "Patrick hand";
    font-size: 14px;
}
.price{
    font-family: "Patrick hand";
    font-size: 24px;
    font-weight: bold;
}
    
.save{
    border-radius:45px; /* Ajusta este valor según lo redondeado que quieras el botón */
    border: none; /* Opcional: elimina el borde del botón */
    cursor: pointer; /* Opcional: cambia el cursor al pasar sobre el botón */
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;

}
.icono{
    width: 30px;
}
.letra{
    font-family: "Patrick Hand", cursive;
        font-style: normal;
        font-size: 20px;
        color: #0a0a0a;

}
#qsearch {
    
    border: none;
        background: url(../images/input.png) no-repeat;
        height: 60px;
        outline: none;
        width: 300px;
        font-size: 18px;
        font-weight: 300;
        color: var(--color-first);
        text-indent: 1rem;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;     /* Centra verticalmente */

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
}

.files-download {
    margin-top: 10px;
}
        

        &::placeholder {
            opacity: 0.6;
            color: var(--color-first);
            display: inline-block;
            

}


.download {
width: 25px;
height: 25px;
}

.profile-photo{
            border: none;
                height: 60px;
                outline: none;
                width: 300px;
                font-size: 18px;
                font-weight: 300;
                color: var(--color-first);
                text-indent: 1rem;
}

