/*----------------------------------------*/
/* V A R I A B L E S */
/*----------------------------------------*/
:root {
    --ff-heading: "Russo One", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #23234B;
    --color-second: #06cfce;
    --color-third: #d3167c;
    --color-fourth: #ececed;
    --txt-color: #fff;
}


/*----------------------------------------*/
/* G E N E R A L */
/*----------------------------------------*/

body {
    background-color: var(--color-first);
    font-family: var(-ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        background: url(../images/bg-main.png)no-repeat center;
        height: 800px;
        overflow: hidden;
        position: relative;
        width: 400px;

        header {
            position: relative;
            z-index: 3;

            svg.btn-burger {
                cursor: pointer;
                transition: transform 400ms;
                user-select: none;
                position: relative;

                .line {
                    fill: none;
                    transition: stroke-dasharray 400ms,
                        stroke-dashoffset 400ms;
                    stroke: var(--txt-color);
                    stroke-width: 4;
                    stroke-linecap: round;
                }

                .top {
                    stroke-dasharray: 40 121;
                }

                .bottom {
                    stroke-dasharray: 40 121;
                }
            }

            svg.btn-burger.active {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }

        }

        nav.nav {
            background-color: #0009;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            border-radius: 20px;
            flex-direction: column;
            flex-wrap: wrap;
            height: 800px;
            padding-top: 10rem;
            position: absolute;
            top: 0;
            transform: translateY(-60%) scale(0);
            transition: transform 0.4s ease-in-out;
            z-index: 2;
            width: 400px;

            img.title-menu {
                margin-block: 2rem;
            }
        }

        nav.nav.active {
            opacity: 1;
            transform: translateY(0%);
        }
        
        menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a:is(:link, :visited) {
                background: url(../images/btn.png) no-repeat center;
                color: var(--txt-color);
                font-size: 20px;
                font-weight: 400;
                height: 60px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.6rem;
                padding-left: 20px;
                margin-top: 1.2rem;
                transition: all 0.4s ease-in;
                text-decoration: none;
                width: 300px;
            }

            a:is(:hover) {
                background: url(../images/bnt-hover.png) no-repeat center;
                transform: scale(1.02) translateY(-4px);
            }

            a:is(:active) {
                background: url(../images/bnt-active.png) no-repeat center;
            }
        }
    }
}


/*----------------------------------------*/
/* 01- W E L C O M E */
/*----------------------------------------*/

main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 0.5rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 306px;
                width: 306px
            }

        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }

        }

        div.owl-dots {
            position: relative;
            top: -46px;

            button {
                transition: transform 0.2s ease-in;

            }

            button:is(:hover) {
                transform: scale(1.1);
            }

            button.owl-dot {
                span {
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }

            button.owl-dot.active,
            button.owl-dot:is(:hover) {
                span {
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }

        }

    }


    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ff-heading);

        a:is(:link, :visited) {
            background: url(../images/btn.png) no-repeat center;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            transition: all 0.4s ease-in;
            width: 300px;
            color: var(--txt-color);
            font-size: 2rem;

        }

        a:is(:hover) {
            background: url(../images/btn-hover.png) no-repeat center;
            transform: scale(1.02) translateY(-5px);
        }

        a:is(:active) {
            background: url(../images/btn-active.png) no-repeat center;
        }

    }
}


/*------------------------------*/
/*--------CATALOGUE----------------------*/
main.catalogue {
    
    

    header {
        margin-top: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a.btn-back:is(:link, :visited) {
            transition: transform 0.4s ease-in;
        }

        a.btn.back:is(:hover) {
            transform: translateX(-4px);
        }

    }
 
    section.scroll{
        scrollbar-width: none;
        overflow: scroll;
        height: 640px;
        form{
            display: flex;
            justify-content: center;
            align-items: center;
           margin-bottom: 2rem;
            input {
                border: none;
                background: url(../images/bg-main.png) no-repeat center,
                            url(../images/bg-main.png) no-repeat 250px center;
                            color: var(--color-first);
                            font-weight: 400;
                            font-size: 20px;
                            height: 60px;
                            outline: none;
                            text-indent: 16px;
                            width: 298px;
                            
                outline: none;
                width: 298px;
                &::placeholder{
                    opacity: 0.7;
                    color: var(--color-first);
                }
            }
        }
    }
    article{
        h2{
            display: flex;
            justify-content: center;
            font-family: var(--ff-heading);
           font-size: 20px;
            align-items: center;
            color: var(--color-first);
            gap: 0.6rem;
            margin-bottom: 1rem;
        }
        a:is(:link, :visited) {
            img {
                height: 48px;
                width: 71px;
            }
        }
    }
    div.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;
            img.slide{
                object-fit: contain;
                height: 140px;
                width: 140px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
        }

    }
}
