:root {
    --ff-heading: "Russo One", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --color-first: #23234B;
    --color-second: #06cfce;
    --color-third: #d3167c;
    --color-fourth: #ececed;
}

body {
    background-color: var(--color-first);
    font-family: var(-ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        background: url(../images/bg-main.png)no-repeat center;
        height: 800px;
        overflow: hidden;
        width: 400px;
    }
}

main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.2rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 350px;
                width: 250px
            }

        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }

        }
        div.owl-dots{
            position: relative;
            top: -46px;
            button{
                transition:transform 0.2s ease-in;

            }
            button:is(:hover){
                transform:scale(1.1);
            }
            button.owl-dot{
                span{
                    background-color: var(--color-first);
                    height: 16px;
                    width: 16px;
                }
            }
            button.owl-dot.active,
            button.owl-dot:is(:hover){
                span{
                    background-color: var(--color-fourth);
                    height: 16px;
                    width: 16px;
                }
            }

        }

    }


footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
        background: url(../images/btn.png) no-repeat center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.2rem;
        transition: all 0.4s ease-in;
        width: 300px;

    }

    a:is(:hover) {
        background: url(../images/btn-hover.png) no-repeat center;
        transform: scale(1.02) translateY(-5px);
    }

    a:is(:active) {
        background: url(../images/btn-active.png) no-repeat center;
    }

}
}
main.catalogue {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.2rem;
    }

    section.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 250px;
                width: 150px
            }

        }
    }
}