

        a:is(:hover) {
            background: url(../images/btn-hover.png) no-repeat center;
            transform: scale(1.1) translateY(-5);
        }

        a:is(:active) {
            background: url(../images/btn-active.png) no-repeat center;
        }
    }
}

/*----------------------------------------*/
/* 02 - C A T A L O G U E */
/*----------------------------------------*/
main.catalogue {
    scrollbar-width: none;
    overflow: scroll;

    header {
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a.btn-back:is(:link, :visited) {
            transition: transform 0.4s ease-in;
        }

        a.btn-back:is(:hover) {
            transform: translateX(-4px);
        }
    }
    div.owl-carousel {
        div.owl-item {
            display: flex;
            justify-content: center;

            img {
                height: 120px;
                width: 120px;
            }
        }

        div.owl-nav {
            position: relative;
            top: -180px;
            display: flex;
            justify-content: space-between;

            button {
                transition: transform 0.2s ease-in;

                span {
                    display: flex;
                    height: 44px;
                    width: 34px;
                    text-indent: -9999px;
                }
            }

            button:is(:hover) {
                background-color: transparent;
            }

            button.owl-prev {
                span {
                    background: url(../images/btn-prev.png) no-repeat center;
                }
            }

            button.owl-prev:hover {
                transform: scale(1.1) translateX(-4px);
            }

            button.owl-next {
                span {
                    background: url(../images/btn-next.png) no-repeat center;
                }
            }

            button.owl-next:hover {
                transform: scale(1.1) translateX(-4px);
            }
        }

    }
}